.tag-label{

    position: fixed;
    left: 0 !important;
    bottom:10px !important;
    border-radius: 10px;
    color: white;
    height: 70px;
    width:160px;
    z-index:10000 !important;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    font-size: 15px;
    margin: 10px;
    box-shadow: 3px 3px 2px #aaaaaa91;
}
.search{
    background-color: rgba(0, 0, 0, 0.9);

}
.fail{
    background-color: rgba(166, 25, 6, 0.9);

}
.success{
    background-color: rgba(3, 109, 18, 0.9);

}
.inf{
    background-color: rgba(7, 31, 170, 0.9);

}

.container-anim {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;

  }
  .container-anim:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 20px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation-timing-function:ease;
    animation: animation-pivot 2s infinite;
  }
  @keyframes animation-pivot {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.5, 0, 0.5, 0);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.2, 0.6, 0.1, 0.6);
    }
    100% {
      transform: rotate(1800deg);
    }
  }

  .small-icon-analizer{
    position: absolute;
    top:5px;
    background-color: white !important;
    color: black;
    border-radius: 2rem;
    height: 15px;
    width:15px;
    font-weight: bold;
    font-size: 10px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10000000 !important;
  }
  .flag-bias{
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: red;
    color: white;
    border-radius: 50%;
    font-size: 10px !important;
    font-weight: 500;
    z-index: 100000;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 2px #aaaaaa91;
  }

  .close{    
    right: 5px;


  }
  .reload{    
    left: 5px;

  }
  .invisible{
    visibility: hidden;
  }
  

